:root {
        --ic-brand-primary-darkened-5: #BE102C;
--ic-brand-primary-darkened-10: #B40F2A;
--ic-brand-primary-darkened-15: #AA0E28;
--ic-brand-primary-lightened-5: #CA1B38;
--ic-brand-primary-lightened-10: #CD2742;
--ic-brand-primary-lightened-15: #D0334D;
--ic-brand-button--primary-bgd-darkened-5: #BE102C;
--ic-brand-button--primary-bgd-darkened-15: #AA0E28;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #006196;
--ic-link-color-lightened-10: #1979AE;
--ic-brand-primary: #c8102e;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #006ba6;
--ic-brand-button--primary-bgd: #c8102e;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #c8102e;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #c8102e;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #2d3b45;
--ic-brand-global-nav-avatar-border: #f1be48;
--ic-brand-global-nav-menu-item__badge-bgd: #f1be48;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #c8102e;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/8547/ISU-Logo-stacked-solid-gold-update3.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/8531/iPhone.png');
--ic-brand-msapplication-tile-color: #c8102e;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/8518/IowaState_Stacke_3.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/8539/IowaState_Stacke_3nointerlace.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/9771/campanileonleft_smaller.png');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_108350000000000001/attachments/8551/ISU-Logo-stacked-solid-gold-update3.png');
--ic-brand-Login-Content-bgd-color: #c8102e;
--ic-brand-Login-Content-border-color: #524727;
--ic-brand-Login-Content-inner-bgd: #c8102e;
--ic-brand-Login-Content-inner-border: #c8102e;
--ic-brand-Login-Content-inner-body-bgd: #ae0102;
--ic-brand-Login-Content-inner-body-border: #524727;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #dddddd;
      }